<div class="col-sm-8 text-left">
    <h1>Contact Us</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem facilis veritatis nihil ipsa, debitis dolore
        excepturi doloremque facere sequi aspernatur magnam earum repellat voluptas enim rerum, minus libero ex
        voluptates temporibus at ad perspiciatis, soluta quo. Possimus eos eaque iusto, voluptatum voluptatibus
        veritatis excepturi blanditiis voluptatem libero, recusandae omnis harum.</p>
    <button class="btn btn-primary">Call Now</button>
    <button class="btn btn-dark">Email Now</button>
</div>